name: Run Cypress Tests using Cypress Docker Image

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Cypress tests on Chrome
        run: |
          docker run --rm -v $PWD:/e2e -w /e2e cypress/included:12.8.1 run --browser chrome --spec "cypress/e2e/all.cy.ts"
        continue-on-error: true
          
      - name: Run Cypress tests on Firefox
        run: |
          docker run --rm -v $PWD:/e2e -w /e2e cypress/included:12.8.1 run --browser firefox --spec "cypress/e2e/all.cy.ts"
        continue-on-error: true
        
      - name: Copy test execution videos
        run: |
          mkdir public
          cp -r cypress/videos public/videos
      
      - name: Merge test results into one
        run: npm run report:merge
      
      - name: Generate HTML report
        run: npm run report:generate
      
      - name: Deploy report page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'        
