name: Run Cypress Tests using Cypress Docker Image

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Cypress tests
        run: |
          docker run --rm -v $PWD:/e2e -w /e2e cypress/included:12.8.1 run --browser chrome
